<header id="page-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Főoldal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Blog</a>
                        <a class="nav-link" href="#">Features</a>
                        <a class="nav-link" href="#">Pricing</a>
                        <a class="nav-link disabled">Disabled</a>
                    </div>
                </div>
            </div>
        </nav>

        {{#if postHeader}}
            <div>
                <div class="post-category">
                    <a href="{{post.category.url}}">{{post.category.name}}</a>
                </div>
                <h1>{{post.title}}</h1>
                <div class="post-meta">
                    <span>User 1</span>
                    <span>2022. 09. 22.</span>
                </div>
            </div>
        {{/if}}

        {{#if categoryHeader}}
            <div>
                <small>{{i18n.Category}}:</small>
                <h1>{{name}}</h1>
            </div>
        {{/if}}

        {{#if archiveHeader}}
            <div>
                <h1>{{i18n.headerTitle}}</h1>
                <small>{{i18n.headerDescription}}</small>
            </div>
        {{/if}}
    </div>
</header>