<header id="page-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{global.nav.homeUrl}}">{{i18n.global.nav.home}}</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="{{global.nav.archiveUrl}}">{{i18n.global.nav.archive}}</a>
                    </div>

                    <div class="dropdown">
                        <a
                                class="btn btn-secondary dropdown-toggle{{#if global.locale.others.length}}{{else}} disabled{{/if}}"
                            href="#"
                            role="button"
                            id="dropdownMenuLink"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            {{global.locale.current.locale}}
                        </a>

                        {{#if global.locale.others.length}}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {{#each global.locale.others}}
                                    <li><a class="dropdown-item" href="{{this.url}}">{{this.locale}}</a></li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </div>
                </div>
            </div>
        </nav>

        {{#if postHeader}}
            <div>
                <div class="post-category">
                    {{#if post.category.translation}}
                        <a href="{{post.category.translation.link}}">
                            {{post.category.translation.name}}
                        </a>
                    {{/if}}
                </div>
                <h1>{{post.title}}</h1>
                <div class="post-meta">
                    <span>{{{post.author}}}</span>
                    <span>{{{post.updatedAt}}}</span>
                </div>
            </div>
        {{/if}}

        {{#if categoryHeader}}
            <div>
                <small>{{i18n.Category}}:</small>
                <h1>{{name}}</h1>
            </div>
        {{/if}}

        {{#if archiveHeader}}
            <div>
                <h1>{{i18n.headerTitle}}</h1>
                <small>{{i18n.headerDescription}}</small>
            </div>
        {{/if}}

        {{#if homeHeader}}
            <div>
                <h1>{{i18n.headerTitle}}</h1>
                <small>{{i18n.headerDescription}}</small>
            </div>
        {{/if}}
    </div>
</header>