{{> _partials/head
    metaTitle=post.metaTitle
    metaDescription=post.metaDescription
    ogTitle=post.ogTitle
    ogDescription=post.ogDescription
}}

{{> _partials/header
    postHeader=true
}}

<main class="single-post-main">
    <div class="post-wrap">
        <aside class="post-aside">
            <div>{{i18n.Content}}:</div>

            <ul>
                {{#each post.blocks}}
                    {{#[./helpers/eq] this.type "Header" }}
                        {{#[./helpers/eq] this.data.level 2 }}
                            <li>{{{this.data.text}}}</li>
                        {{/[./helpers/eq]}}
                    {{/[./helpers/eq]}}
                {{/each}}
            </ul>
        </aside>

        <article class="post-content">
            {{#each post.blocks}}
                <div class="block">
                    {{#[./helpers/eq] this.type "paragraph" }}
                        <p>{{{this.data.text}}}</p>
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.type "image" }}
                        <img src="{{this.data.file.url}}" alt="todo">
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.type "Header" }}
                        {{#[./helpers/eq] this.data.level 1 }}
                            <h1>{{{this.data.text}}}</h1>
                        {{/[./helpers/eq]}}

                        {{#[./helpers/eq] this.data.level 2 }}
                            <h2>{{{this.data.text}}}</h2>
                        {{/[./helpers/eq]}}

                        {{#[./helpers/eq] this.data.level 3 }}
                            <h3>{{{this.data.text}}}</h3>
                        {{/[./helpers/eq]}}

                        {{#[./helpers/eq] this.data.level 4 }}
                            <h4>{{{this.data.text}}}</h4>
                        {{/[./helpers/eq]}}

                        {{#[./helpers/eq] this.data.level 5 }}
                            <h5>{{{this.data.text}}}</h5>
                        {{/[./helpers/eq]}}

                        {{#[./helpers/eq] this.data.level 6 }}
                            <h6>{{{this.data.text}}}</h6>
                        {{/[./helpers/eq]}}
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.type "List" }}
                        {{#[./helpers/eq] this.data.style "unordered" }}
                            <ul>
                                {{#each this.data.items}}
                                    <li>{{{this}}}</li>
                                {{/each}}
                            </ul>
                        {{/[./helpers/eq]}}
                        {{#[./helpers/eq] this.data.style "ordered" }}
                            <ol>
                                {{#each this.data.items}}
                                    <li>{{{this}}}</li>
                                {{/each}}
                            </ol>
                        {{/[./helpers/eq]}}
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.type "Table" }}
                        {{#if this.data.withHeadings }}
                            <table>
                                <thead>
                                    {{#each this.data.content}}
                                        {{#[./helpers/eq] @index 0}}
                                            <tr>
                                                {{#each this}}
                                                    <th>
                                                        {{{this}}}
                                                    </th>
                                                {{/each}}
                                            </tr>
                                        {{/[./helpers/eq]}}
                                    {{/each}}
                                </thead>

                                <tbody>
                                    {{#each this.data.content}}
                                        {{#[./helpers/eq] @index 0}}
                                        {{else}}
                                            <tr>
                                                {{#each this}}
                                                    <td>
                                                        {{{this}}}
                                                    </td>
                                                {{/each}}
                                            </tr>
                                        {{/[./helpers/eq]}}
                                    {{/each}}
                                </tbody>
                            </table>
                        {{else}}
                            <table>
                                <tbody>
                                    {{#each this.data.content}}
                                        <tr>
                                            {{#each this}}
                                                <td>
                                                    {{{this}}}
                                                </td>
                                            {{/each}}
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        {{/if}}
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.type "Warning" }}
                        <div class="warning">
                            <div class="warning-title">
                                {{{this.data.title}}}
                            </div>
                            <div class="warning-message">
                                {{{this.data.message}}}
                            </div>
                        </div>
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.type "SimpleImage" }}
                        <img src="{{this.data.url}}" alt="todo">
    <!--                TODO:-->
    <!--                    "caption" : "Roadster // tesla.com",-->
    <!--                    "withBorder" : false,-->
    <!--                    "withBackground" : false,-->
    <!--                    "stretched" : true-->
                    {{/[./helpers/eq]}}
                </div>
            {{/each}}
        </article>

        <aside class="aside-right"></aside>

    </div>

    {{#if post.latestPosts.length}}
        <div class="container mt-5 latest-posts-wrap">
            <h2>{{ i18n.seeMore }}</h2>

            <div class="latest-posts-grid">
                {{#each post.latestPosts}}
                    <a class="list-group-item list-group-item-action" href="{{{ this.link }}}">
                        <div class="d-flex w-100 justify-content-between">
                            <h2 class="mb-1">{{{this.title}}}</h2>
                            <small>{{{ this.updatedAt }}}</small>
                        </div>
                        <p class="mb-1">{{{ this.description }}}</p>
                    </a>
                {{/each}}
            </div>
        </div>
    {{/if}}
    </main>

{{> _partials/tail }}