{{> _partials/head
    metaTitle=metaTitle
    metaDescription=metaDescription
    ogTitle=ogTitle
    ogDescription=ogDescription
    otherLocales=otherLocales
}}

<header class="single-post-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">Features</a>
                        <a class="nav-link" href="#">Pricing</a>
                        <a class="nav-link disabled">Disabled</a>
                    </div>
                </div>
            </div>
        </nav>

        <div>
            <div class="post-category">
                Category
            </div>
            <h1>{{title}}</h1>
            <div class="post-meta">
                <span>User 1</span>
                <span>2022. 09. 22.</span>
            </div>
        </div>
    </div>
</header>

<main class="container post-wrap">
    <aside class="post-aside">
        <div>Tartalom:</div>

        {{#each blocks}}
            <ul>
                {{#[./helpers/eq] this.type "Header" }}
                    {{#[./helpers/eq] this.data.level 2 }}
                        <li>{{this.data.text}}</li>
                    {{/[./helpers/eq]}}
                {{/[./helpers/eq]}}
            </ul>
        {{/each}}
    </aside>

    <article class="post-content">
        {{#each blocks}}
            <div>
                {{#[./helpers/eq] this.type "paragraph" }}
                    <p>{{this.data.text}}</p>
                {{/[./helpers/eq]}}

                {{#[./helpers/eq] this.type "image" }}
                    <img src="{{this.data.file.url}}" alt="todo">
                {{/[./helpers/eq]}}

                {{#[./helpers/eq] this.type "Header" }}
                    {{#[./helpers/eq] this.data.level 1 }}
                        <h1>{{this.data.text}}</h1>
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.data.level 2 }}
                        <h2>{{this.data.text}}</h2>
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.data.level 3 }}
                        <h3>{{this.data.text}}</h3>
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.data.level 4 }}
                        <h4>{{this.data.text}}</h4>
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.data.level 5 }}
                        <h5>{{this.data.text}}</h5>
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.data.level 6 }}
                        <h6>{{this.data.text}}</h6>
                    {{/[./helpers/eq]}}
                {{/[./helpers/eq]}}
            </div>
        {{/each}}
    </article>
</main>

{{> _partials/tail }}