{{> _partials/head
    metaTitle=metaTitle
    metaDescription=metaDescription
    ogTitle=ogTitle
    ogDescription=ogDescription
    otherLocales=otherLocales
}}

{{> _partials/header
    postHeader=true
}}

<main class="container post-wrap">
    <aside class="post-aside">
        <div>Tartalom:</div>

        <ul>
            {{#each blocks}}
                {{#[./helpers/eq] this.type "Header" }}
                    {{#[./helpers/eq] this.data.level 2 }}
                        <li>{{this.data.text}}</li>
                    {{/[./helpers/eq]}}
                {{/[./helpers/eq]}}
            {{/each}}
        </ul>
    </aside>

    <article class="post-content">
        {{#each blocks}}
            <div>
                {{#[./helpers/eq] this.type "paragraph" }}
                    <p>{{this.data.text}}</p>
                {{/[./helpers/eq]}}

                {{#[./helpers/eq] this.type "image" }}
                    <img src="{{this.data.file.url}}" alt="todo">
                {{/[./helpers/eq]}}

                {{#[./helpers/eq] this.type "Header" }}
                    {{#[./helpers/eq] this.data.level 1 }}
                        <h1>{{this.data.text}}</h1>
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.data.level 2 }}
                        <h2>{{this.data.text}}</h2>
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.data.level 3 }}
                        <h3>{{this.data.text}}</h3>
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.data.level 4 }}
                        <h4>{{this.data.text}}</h4>
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.data.level 5 }}
                        <h5>{{this.data.text}}</h5>
                    {{/[./helpers/eq]}}

                    {{#[./helpers/eq] this.data.level 6 }}
                        <h6>{{this.data.text}}</h6>
                    {{/[./helpers/eq]}}
                {{/[./helpers/eq]}}
            </div>
        {{/each}}
    </article>

    <aside></aside>
</main>

{{> _partials/tail }}